In [1]:
import pandas as pd

In [2]:
gov = pd.read_csv("./data/bp2022_gov_scraped_face_verified.csv")

In [3]:
gov.head(2)

,abc_name,abc_name_raw,abc_state,bp_name,bp_name_raw,bp_url,bp_url_filename
0,Yolanda Flowers,Yolanda Flowers,Alabama,Yolanda Flowers,Yolanda Flowers (D) \n\t\t\t\t\t\t\t\t\t\t\t,https://s3.amazonaws.com/ballotpedia-api4/file...,Yolanda-Flowers.PNG
1,Les Gara,Les Gara,Alaska,Les Gara,Les Gara,https://s3.amazonaws.com/ballotpedia-api4/file...,Les_Gara.JPG

In [4]:
gov.shape

(82, 7)

#### Load the master file

In [5]:
df = pd.read_csv("../datasets/people/person_2022.csv")

In [6]:
g = df.loc[df['gov2022_gencd']==1]

In [7]:
g.shape

(82, 30)

In [8]:
g.head(2)

,wmpid,full_name,name_fec,first_name,last_name,gender_wmp,fecid_2020,fecid_2022a,fecid_2022b,fecid_2022old,...,intl_leaders,gov2022_gencd,gov2022_noelect,face_category,latino_wmp,latino_crp,race_wmp,race_crp1,race_crp2,race_crpmena
387,WMPID5267,Ashley Kalus,"KALUS, ASHLEY",Ashley,Kalus,F,NaN,NaN,NaN,NaN,...,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,WMPID5285,Bernard Peters,"PETERS, BERNARD",Bernard,Peters,M,NaN,NaN,NaN,NaN,...,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
g.loc[g['full_name'].str.contains("Mills")]

,wmpid,full_name,name_fec,first_name,last_name,gender_wmp,fecid_2020,fecid_2022a,fecid_2022b,fecid_2022old,...,intl_leaders,gov2022_gencd,gov2022_noelect,face_category,latino_wmp,latino_crp,race_wmp,race_crp1,race_crp2,race_crpmena
2213,WMPID5306,Janet T. Mills,"MILLS, JANET",Janet,Mills,F,NaN,NaN,NaN,NaN,...,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Laura used bp_name when adding them to person data
g = g.merge(gov, how='left', left_on='full_name', right_on='bp_name', indicator=True)

In [11]:
g._merge.value_counts()

both          82
right_only     0
left_only      0
Name: _merge, dtype: int64

In [12]:
g = g[['wmpid', 'bp_url']]

In [13]:
g['face_2022']='yes'

In [14]:
g['face_category']='gov_general'

In [15]:
g.shape

(82, 4)

In [16]:
g = g.rename(columns={'bp_url':'face_url'})

In [17]:
g.head()

,wmpid,face_url,face_2022,face_category
0,WMPID5267,https://s3.amazonaws.com/ballotpedia-api4/file...,yes,gov_general
1,WMPID5285,https://s3.amazonaws.com/ballotpedia-api4/file...,yes,gov_general
2,WMPID5331,https://s3.amazonaws.com/ballotpedia-api4/file...,yes,gov_general
3,WMPID5338,https://s3.amazonaws.com/ballotpedia-api4/file...,yes,gov_general
4,WMPID5280,https://s3.amazonaws.com/ballotpedia-api4/file...,yes,gov_general

In [18]:
g.face_url.isna().sum()

0

In [19]:
g.to_csv("./data/face_url_2022_gov_general.csv", index=True)