## Incumbent governor

In [1]:
import pandas as pd
import bs4 as bs # pulling data out of HTML and XML files.
import urllib.request # opening and reading URLs
import re # pattern matching

In [2]:
st = pd.read_csv("./votesmart/s_and_t.csv")

In [3]:
st.head()

  usps_code  fips_code      state_name
0        AK          2          ALASKA
1        AL          1         ALABAMA
2        AR          5        ARKANSAS
3        AS         60  AMERICAN SAMOA
4        AZ          4         ARIZONA

In [4]:
st = st.loc[(st['fips_code']<60)&(st['fips_code']!=11)]

In [5]:
st.shape

(50, 3)

Get states that up for election in 2022

In [6]:
g = pd.read_csv("./ballotpedia/bp2022_gov_scraped_face_verified.csv")

In [7]:
g.head()

,abc_name,abc_name_raw,abc_state,bp_name,bp_name_raw,bp_url,bp_url_filename
0,Yolanda Flowers,Yolanda Flowers,Alabama,Yolanda Flowers,Yolanda Flowers (D) \n\t\t\t\t\t\t\t\t\t\t\t,https://s3.amazonaws.com/ballotpedia-api4/file...,Yolanda-Flowers.PNG
1,Les Gara,Les Gara,Alaska,Les Gara,Les Gara,https://s3.amazonaws.com/ballotpedia-api4/file...,Les_Gara.JPG
2,Katie Hobbs,Katie Hobbs,Arizona,Katie Hobbs,Katie Hobbs (D) \n\t\t\t\t\t\t\t\t\t\t\t,https://s3.amazonaws.com/ballotpedia-api4/file...,Katie-Hobbs.PNG
3,Chris Jone,Chris Jone,Arkansas,Chris Jones,Chris Jones (D) \n,https://s3.amazonaws.com/ballotpedia-api4/file...,Chris-Jones.jpg
4,Gavin Newsom,Gavin Newsom,California,Gavin Newsom,Gavin Newsom (D) \n\t\t\t\t\t\t\t\t\t\t\t,https://s3.amazonaws.com/ballotpedia-api4/file...,399px-Gavin_Newsom_official_photo.jpg

In [8]:
len(g['abc_state'].unique())

36

In [9]:
# Seats up for election
s = list(g['abc_state'].unique())

In [10]:
sue = pd.DataFrame()
sue['state_name'] = s
sue['state_name'] = sue['state_name'].str.upper()

In [11]:
sue.head()

   state_name
0     ALABAMA
1      ALASKA
2     ARIZONA
3    ARKANSAS
4  CALIFORNIA

In [12]:
gov = st.merge(sue, on='state_name', how='left', indicator=True)

In [13]:
gov.head()

  usps_code  fips_code  state_name _merge
0        AK          2      ALASKA   both
1        AL          1     ALABAMA   both
2        AR          5    ARKANSAS   both
3        AZ          4     ARIZONA   both
4        CA          6  CALIFORNIA   both

In [14]:
incum = gov.loc[gov['_merge']=='left_only']

In [15]:
incum.head()

   usps_code  fips_code state_name     _merge
7         DE         10   DELAWARE  left_only
14        IN         18    INDIANA  left_only
16        KY         21   KENTUCKY  left_only
17        LA         22  LOUISIANA  left_only
23        MO         29   MISSOURI  left_only

In [18]:
incum.to_csv('incumbent_governor_tocode.csv', index=False)

As https://www.nga.org/governors/ can't be scraped, manually add face urls and saved as 'incumbent_governor_2022.csv'